@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto Condensed", serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
  z-index: 2;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* font-weight: 600; */
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  background: radial-gradient(var(--color-4) 10%, transparent 50%);
}

.topbar:hover {
  font-size: 30px;
}

.topbar span {
  font-size: 1.5em;
  font-weight: 700;
}

.color {
  color: var(--color-1);
}

.body {
  margin-top: 60px;
}

.intro {
  position: relative;
  display: block;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 5%;
}

.leftSide {
  min-width: 20em;
}

.largeText {
  font-size: 70px;
  margin: 5px 0;
  line-height: 1.2em;
}

.dot {
  position: relative;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  top: -0.1em;
  margin: 0 0.3em;
  border-radius: 100%;
  background: var(--color-1);
}

.rightSide {
  position: relative;
  flex-grow: 1;
  max-width: 300px;
  padding: 20px;
}

.rightSide .faceWrap {
  position: relative;
}

.rightSide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100%;
  box-shadow: 2px 2px 1em 5px rgba(0, 0, 0, 0.5);
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top left, var(--color-1), var(--color-4));
  filter: brightness(30%);
  /* filter: blur(30px) brightness(60%); */
}

.blurredBlob {
  position: relative;
  width: 200px;
  height: 200px;
  background: var(--color-1);
  filter: blur(100px) brightness(100%);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  /* animation-name: movement; */
  /* animation-iteration-count: infinite; */
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-in-out; */
  top: calc(50% - 4em);
  left: calc(50% - 8em);
  transition: 1s;
}

.bigElem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.minSize {
  min-width: 2em;
}

.workLabWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 50px;
  gap: 1.5em;
  align-items: stretch;
  box-sizing: border-box;
}

.steps {
  position: relative;
  width: 2px;
  background: var(--color-1);
  height: auto;
  margin-top: 15px;
}

.desc {
  position: relative;
  color: rgb(154, 154, 154);
  font-size: 30px;
}

.desc .dot {
  position: absolute;
  /* width: 0.5em; */
  /* height: 0.5em; */
  margin-left: calc(-1.5rem - 0.2em - 1px);
  top: calc(0.5em + 1.5px);
  background: var(--color-4);
  /* border: 3px solid var(--color-4); */
  box-shadow: 0 0 0 1.5px var(--color-1);
}

.jobTitle {
  color: var(--color-1);
  font-size: 20px;
}

.things {
  position: relative;
  width: 100%;
  max-width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project {
  width: clamp(300px, 90%, 500px);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--color-4);
  z-index: -1;
}

.project .info {
  position: relative;
  bottom: 0;
  padding: 5px;
  z-index: 3;
  transition: 0.2s;
}

.project .info .projName {
  font-size: 20px;
  display: inline-block;
  border-bottom: 1.2px solid var(--color-1);
}

.project .wavy {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 2;
  width: 140%;
  color: var(--color-1);
  filter: brightness(50%);
  transition: 0.2s;
}

.project.reverse .info {
  text-align: right;
}

.project.reverse .wavy {
  transform: rotateY(180deg);
  right: 0;
  left: auto;
}

.project.above {
  justify-content: start;
}

.project.above .wavy {
  top: 0;
  transform: rotateX(180deg);
}

.project:hover .wavy {
  width: 150%;
}

.project:active .wavy {
  width: 500%;
}

.project:active .info {
  opacity: 0;
}