.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  z-index: 2;
  color: var(--color-1);
  /* font-weight: 600; */
}

.topbar > div {
  padding: 5px 1.5em;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1.5em;
  color: var(--color-1);
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-shadow: 1px 1px 0.5em rgba(0, 0, 0, 0);
}

.topbar > div:hover {
  background: var(--color-1);
  color: var(--color-4);
  box-shadow: 1px 1px 0.5em rgba(0, 0, 0, 0.5);
}

.bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.center div {
  color: black;
  mix-blend-mode: color-burn;
  z-index: 2;
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)); */
}

.big_txt {
  font-size: 70px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

.info svg {
  cursor: pointer;
  transition: 0.4s;
}

.info svg:hover {
  margin-top: 5px;
  fill: var(--color-1);
}

.arrow {
  width: 50px;
  height: 50px;
}

.img_card {
  height: 2em;
  margin-top: 5px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.links {
  display: inline-flex;
  flex-direction: row;
  position: relative;
}

.links svg {
  fill: var(--color-4);
  color: var(--color-4);
  height: 2em;
  width: 2em;
}